<footer>

  <LinkTo @route="privacy-policy" title="Polityka prywatności">Polityka prywatności</LinkTo>
  <p class="text-center">Project 2020 by <a href="https://wyremski.pl" title="Full Stack Web Developer">Kamil Wyremski</a>. All rights reserved</p>
</footer>