<footer class="footer background-secondary">
  <div class="container text-center">
    <h4 class="mb-5">Gotowy do budowy Twojego projektu?</h4>

    <LinkTo @route="index" title="Home">
      <picture>
        <source srcset="/assets/images/logo.webp" type="image/webp">
        <source srcset="/assets/images/logo.png" type="image/png"> 
        <img src="/assets/images/logo.png" alt="Logo It Works Better" class="logo">
      </picture>
    </LinkTo>

    <p>IT Works Better<br><a href="mailto:{{env "email"}}" title="Napisz do nas">{{env "email"}}</a><br><a href="tel:{{env "phone"}}" title="Zadzwoń do nas">{{env "phone"}}</a></p>
    <p class="mb-5"><LinkTo @route="privacy-policy" title="Polityka prywatności">Polityka prywatności</LinkTo></p>
    <p class="small">Project 2020 by <a href="https://wyremski.pl" title="Full Stack Web Developer">Kamil Wyremski</a>. All rights reserved</p>
  </div>
</footer>