<footer class="footer">
  <div class="container text-center">
    <h2 class="mb-5">Ready to realize your own project?</h2>

    <div class="mb-5">
      <LinkTo @route="index" title="Home">
        <picture>
          <source srcset="/assets/images/logo-white.webp" type="image/webp">
          <source srcset="/assets/images/logo-white.png" type="image/png"> 
          <img src="/assets/images/logo-white.png" alt="IT Works Better" class="logo" width="400" height="53" loading="lazy">
        </picture>
      </LinkTo>
    </div>

    <p class="mb-2">IT Works Better<br>VAT: PL7891708358<br><a href="mailto:{{env "email"}}" title="Write to us">{{env "email"}}</a></p>
    <p class="mb-5 footer-privacy-policy"><LinkTo @route="privacy-policy" title="Privacy Policy of IT Works Better">Privacy Policy</LinkTo></p>
    <p class="small">Project 2020 - 2025 by <a href="https://wyremski.pl/en" title="Full Stack Web Developer">Kamil Wyremski</a>.<br class="footer-br"/> All rights reserved</p>
  </div>
</footer>