<nav class="navbar">
  <div class="container d-flex justify-space-between">
    <LinkTo @route="index" title="Home"><img src="/assets/images/logo.png" alt="Logo It Works Better" class="logo"></LinkTo>
    <nav class="menu d-flex">
      <LinkTo @route="index" title="Strona główna">Home</LinkTo>
      <LinkTo @route="scripts" title="Skrypty stron www">Skrypty</LinkTo>
      <LinkTo @route="projects" title="Projekty aplikacji webowych">Projekty</LinkTo>
    </nav>
  </div>
</nav>