<nav class="navbar">
  <div class="container d-flex justify-space-between">
    <LinkTo @route="index" title="Home"><img src="/assets/images/logo.png" alt="Logo It Works Better" class="logo"></LinkTo>
    <div class="menu">
      <LinkTo @route="index" title="Strona główna">Home</LinkTo>
      <LinkTo @route="scripts" title="Skrypty">Skrypty</LinkTo>
      <LinkTo @route="projects" title="Projekty">Projekty</LinkTo>
      <a href="https://sklep.itworksbetter.net" title="Sklep">Sklep</a>
      <LinkTo @route="contact" title="Kontakt">Kontakt</LinkTo>
    </div>
  </div>
</nav>