<section class="container section page-top error404" aria-labelledby="error404-title">
  <h1 class="display-3 mb-5 header-primary" id="error404-title">Error <span class="color-primary">404</span></h1>
  <p class="mb-5">
    <strong>
      <span class="error404--color-primary">Error404</span>(){
      <br>  
      <span class="error404--color-secondary">&nbsp;&nbsp;return</span> "<span class="error404--color-third">page not found</span>";
      <br>
      };
    </strong>
  </p>
  <h2 class="mb-2">Błąd 404</h2>
  <p>Strona której szukasz została przesunięta, usunięta albo po prostu nigdy nie istniała.</p>
</section>