<section class="index--header" aria-labelledby="main-title">
  <div class="container position-relative">
    <h1 class="mb-2" id="main-title">IT <span class="color-primary">Works</span> Better</h1>
    <p class="mb-5">It's simply not enough that's just work</p>
    <hr class="mb-5">
    <h2 class="text-uppercase">Creating web applications and websites</h2>
  </div>
</section>
<section class="container section" aria-labelledby="who-we-are-title">
  <h2 class="display-3 mb-5 header-primary" id="who-we-are-title">Who <span class="color-primary">we are?</span></h2>
  <p class="mb-2">We are a team of programmers, graphic designers and SEO specialists. We create Backend and Frontend
    for web and mobile applications in the latest available technologies. We use Symfony, Laravel, YII, React, Angular,
    VUE and Ember. Sometimes we use it in Wordpress or PrestaShop projects. We design graphics, including logos for
    websites. Our projects are SEO compliant - customers can quickly find you on the web. We are not content with the
    fact that the project works. We want it to be more perfect. We want to make our work best. We look forward to
    working with you!</p>
  <p class="text-right"><i>IT Works Better Team</i></p>
</section>
<section class="background-secondary" aria-labelledby="what-offers-title">
  <div class="container section">
    <h2 class="display-3 mb-5 header-primary" title="what-offers-title">What <span class="color-primary">we
        offer?</span></h2>
    <div class="row">
      <div class="col index--offer">
        <h3>Websites and online stores</h3>
        <p>We use ready-made Wordpress or Prestashop scripts, but also create dedicated projects precisely tailored to
          the client's need</p>
      </div>
      <div class="col index--offer">
        <h3>Advertising portals</h3>
        <p>Thanks to our ready-made website scripts, creating your own classifieds website is at your fingertips</p>
      </div>
      <div class="col index--offer">
        <h3>Backend of web applications</h3>
        <p>We create backend of web applications in PHP (using Symfony or Laravel) and in JavaScript (in Node.js,
          Express)</p>
      </div>
      <div class="col index--offer">
        <h3>Frontend of web applications</h3>
        <p>We use well-known JavaScript frameworks such as Angular, React, VUE and Ember. The projects which we create
          are SEO-friendly</p>
      </div>
      <div class="col index--offer">
        <h3>Graphics</h3>
        <p>We create logos and other graphic designs for websites in PhotoShop and Sketch</p>
      </div>
      <div class="col index--offer">
        <h3>SEO</h3>
        <p>We create texts and write articles for your website which give you better position in search engines</p>
      </div>
    </div>
  </div>
</section>
<section class="container section" aria-labelledby="scripts-title">
  <h2 class="display-3 mb-5 header-primary" id="scripts-title">Website <span class="color-primary">scripts</span></h2>
  <p>We offer several ready-made website scripts. Thanks to them, in a few minutes you can create your own portal with
    advertisements (in every industry, e.g. automotive or real estate), accommodation database, company directory,
    website such as demotivators, a website with pictures or a page for shortening links. Latest project, Notice3 advertisement
    script was based on the well-known Symfony 5 framework. We have already sold over 450 copies of scripts to satisfied
    customers. All the time we make sure that the scripts are updated with new functions and all errors are fixed. The
    scripts conform to the modern standards. <LinkTo @route="scripts" title="Website scripts">Here</LinkTo> you can see list of our scripts. You can also buy scripts in our <a href="{{env " shop_url"}}" title="Website scripts - online shop" target="_blank"
      rel="noopener noreferrer">online shop</a>. Older projects can be found for free download at <a
      href="https://github.com/kamilwyremski" title="GitHub Kamil Wyremski" target="_blank"
      rel="nofollow noopener noreferrer">GitHub account</a>.</p>
</section>
<section class="background-secondary" aria-labelledby="pricing-title">
  <div class="container section">
    <h2 class="display-3 mb-5 header-primary" id="pricing-title">What and how much <span class="color-primary">does it cost?</span>
    </h2>
    <p class="mb-2">Below you can see price list of our services. Please contact us - all prices are negotiable. We issue a VAT invoice</p>
    <div class="row">
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Website script</h3>
        <p class="price">25 - 125 EUR</p>
        <ul>
          <li>Price depends on the script</li>
          <li>You can see script prices in <a href="{{env " shop_url"}}" title="Website scripts - online shop" target="_blank"
              rel="noopener noreferrer">online shop</a></li>
          <li>Installation included in the price</li>
          <li>Perfect to appear on the web</li>
          <li>Solid projects - hundreds of copies sold</li>
        </ul>
      </div>
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Company website / online store</h3>
        <p class="price">200 - 500 EUR</p>
        <ul>
          <li>Based on Wordpress or Prestashop</li>
          <li>Ready theme used</li>
          <li>Functionality as in the theme demo</li>
          <li>Easy possibility of independent extension of the website with available plugins</li>
        </ul>
      </div>
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Individual project</h3>
        <p class="price">from 1000 EUR</p>
        <ul>
          <li>Individually created Backend and Frontend in the selected technology</li>
          <li>Dedicated administration panel</li>
          <li>Optimised for SEO</li>
          <li>Custom graphic project</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container section" aria-labelledby="contact-title">
  <h2 class="display-3 mb-5 header-primary" id="contact-title">Contact <span class="color-primary">with us</span></h2>
  <p>Feel free to contact us: <a href="mailto:{{env " email"}}" title="Write to us">{{env "email"}}</a>. With pleasure we will answer your questions. We also encourage you to visit <a href="https://www.facebook.com/ItWorksBetterNet"
      title="Fanpage It Works Better" target="_blank" rel="nofollow noopener noreferrer">our fanpage</a></p>
</section>