<section class="index--header" aria-labelledby="main-title">
  <div class="container position-relative">
    <h1 class="mb-2" id="main-title">IT <span class="color-primary">Works</span> Better</h1>
    <p class="mb-5">It's just not enough that it works</p>
    <hr class="mb-5">
    <h2 class="text-uppercase">Creating Web Applications and Websites</h2>
  </div>
</section>
<section class="container section" aria-labelledby="who-we-are-title">
  <h2 class="display-3 mb-5 header-primary" id="who-we-are-title">Who <span class="color-primary">we are?</span></h2>
  <p class="mb-2">We are a team of programmers, graphic designers, and SEO specialists. We create backends and frontends for web and mobile applications using the latest available technologies, including Symfony, Laravel, YII, React, Angular, Vue, Svelte and Ember. Sometimes we also work with WordPress. Our projects are SEO-compliant, ensuring that customers can quickly find you on search engines. It's not enough for us that the projects simply work; we strive for perfection. We aim to make our work the best it can be. We look forward to working with you!</p>
  <p class="text-right"><i>IT Works Better Team</i></p>
</section>
<section class="background-primary" aria-labelledby="what-offers-title">
  <div class="container section">
    <h2 class="display-3 mb-5 header-primary" title="what-offers-title">What <span class="color-primary">we
        offer?</span></h2>
    <div class="row">
      <div class="col index--offer">
        <h3>Websites</h3>
        <p>We use WordPress, but we can also create dedicated projects precisely tailored to the client's needs</p>
      </div>
      <div class="col index--offer">
        <h3>Advertising Portals</h3>
        <p>Thanks to our ready-made website scripts, creating your own classifieds website is at your fingertips</p>
      </div>
      <div class="col index--offer">
        <h3>Backend of Web Applications</h3>
        <p>We create the backend of web applications in PHP (using Symfony or Laravel) and in JavaScript (using Node.js and Express)</p>
      </div>
      <div class="col index--offer">
        <h3>Frontend of Web Applications</h3>
        <p>We use well-known JavaScript frameworks and libraries such as Angular, React, Vue and Ember. The projects we create are SEO-friendly</p>
      </div>
      <div class="col index--offer">
        <h3>Graphics</h3>
        <p>We create logos and other graphic designs for websites in Photoshop and Figma</p>
      </div>
      <div class="col index--offer">
        <h3>SEO</h3>
        <p>We can create texts and write articles for your website that improve its position in search engines</p>
      </div>
    </div>
  </div>
</section>
<section class="container section" aria-labelledby="scripts-title">
  <h2 class="display-3 mb-5 header-primary" id="scripts-title">Website <span class="color-primary">Scripts</span></h2>
  <p>We offer several ready-made website scripts. Thanks to them, you can create your own portal with advertisements (in any industry, e.g., automotive or real estate), an accommodation database, a company directory, websites such as demotivators, websites with pictures, or a page for shortening links. Our latest project, Notice3 classified script, is based on the well-known Symfony framework. We have already sold over 500 copies of scripts to satisfied customers. We continuously ensure that the scripts are updated with new functions and all errors are fixed. The scripts conform to modern standards. You can purchase these scripts in our <a href="{{env "shop_url"}}" title="Website scripts - online shop" target="_blank" rel="noopener noreferrer">online shop</a>, while older projects can be found for free download on this <a href="https://github.com/kamilwyremski" title="GitHub Kamil Wyremski" target="_blank" rel="nofollow noopener noreferrer">GitHub profile</a>.</p>
</section>
<section class="background-primary" aria-labelledby="pricing-title">
  <div class="container section">
    <h2 class="display-3 mb-5 header-primary" id="pricing-title">How much <span class="color-primary">it costs?</span>
    </h2>
    <p class="mb-2">Below, you can see a price list of our services. Please contact us; all prices are negotiable, and we issue VAT invoices.</p>
    <div class="row">
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Website Script</h3>
        <p class="price">120 - 200 EUR</p>
        <ul>
          <li>You can find script prices in <a href="{{env "shop_url"}}" title="Website scripts - online shop" target="_blank"
              rel="noopener noreferrer">our online shop</a></li>
          <li>Perfect for establishing a web presence</li>
          <li>Solid projects with hundreds of copies sold</li>
        </ul>
      </div>
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Company Website</h3>
        <p class="price">200 - 600 EUR</p>
        <ul>
          <li>Based on Wordpress</li>
          <li>Ready-made theme used</li>
          <li>Functionality matches the theme demo</li>
          <li>Easily extendable with available plugins</li>
        </ul>
      </div>
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Individual Project</h3>
        <p class="price">from 1000 EUR</p>
        <ul>
          <li>Individually created Backend and Frontend in the selected technology</li>
          <li>Dedicated administration panel</li>
          <li>Optimized for SEO</li>
          <li>Custom graphic project</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container section" aria-labelledby="contact-title">
  <h2 class="display-3 mb-5 header-primary" id="contact-title">Contact <span class="color-primary">with us</span></h2>
  <p>Feel free to contact us at <a href="mailto:{{env " email"}}" title="Write to us">{{env "email"}}</a>. We will gladly answer your questions. We also encourage you to visit <a href="https://www.facebook.com/ItWorksBetterNet" title="Fanpage It Works Better" target="_blank" rel="nofollow noopener noreferrer">our fan page</a>.</p>
</section>