<section class="index--header" aria-labelledby="main-title">
  <div class="container position-relative">
    <h1 class="mb-2" id="main-title">IT <span class="color-primary">Works</span> Better</h1>
    <p class="mb-5">Bo nie wystarczy żeby po prostu działało</p>
    <hr class="mb-5">
    <h2 class="text-uppercase">Projektowanie stron internetowych i aplikacji webowych</h2>
  </div>
</section>
<section class="container section" aria-labelledby="who-we-are-title">
  <h2 class="display-3 mb-5 header-primary" id="who-we-are-title">Kim <span class="color-primary">jesteśmy?</span></h2>
  <p class="mb-2">Jesteśmy zespołem programistów, grafików i specjalistów SEO. Tworzymy Backend oraz Frontend dla aplikacji webowych i mobilnych w najnowszych dostępnych technologiach. Korzystamy z Symfony, Laravel, YII oraz z React, Angular, VUE i Ember. Czasem wykorzystujemy w projektach Wordpress lub PrestaShop. Projektujemy grafiki w tym logotypy pod strony internetowe. Nasze projekty są zgodne z SEO i gotowe do pozycjonowania - tak aby klienci mogli Cię szybko znaleźć w sieci. Nie zadowolamy się tym, że projekt działa. Chcemy żeby był doskonalszy, wręcz perfekcyjny. Zapraszamy do współpracy!</p>
  <p class="text-right"><i>Zespół IT Works Better</i></p>
</section>
<section class="background-secondary" aria-labelledby="what-offers-title">
  <div class="container section">
    <h2 class="display-3 mb-5 header-primary" title="what-offers-title">Co <span class="color-primary">oferujemy?</span></h2>
    <div class="row">
      <div class="col index--offer">
        <h3>Strony i sklepy internetowe</h3>
        <p>Wykorzystujemy gotowe skrypty typu Wordpress lub Prestashop, ale także tworzymy dedykowane projekty dokładnie dostosowane do potrzeb klienta</p>
      </div>
      <div class="col index--offer">
        <h3>Portale ogłoszeniowe</h3>
        <p>Dzięki naszym gotowym skryptom stron internetowych stworzenie własnego serwisu ogłoszeniowego jest w zasięgu Twojej ręki</p>
      </div>
      <div class="col index--offer">
        <h3>Backend aplikacji webowych</h3>
        <p>Tworzymy backend aplikacji webowych w PHP (wykorzystując Symfony lub Laravel) oraz w JavaScript (w Node.js z wykorzystaniem Express)</p>
      </div>
      <div class="col index--offer">
        <h3>Frontend aplikacji webowych</h3>
        <p>Wykorzystujemy znane frameworki JavaScript takie jak Angular, React, VUE i Ember. Tworzone projekty są zgodne z SEO</p>
      </div>
      <div class="col index--offer">
        <h3>Grafika</h3>
        <p>Tworzymy loga i inne projekty graficzne pod strony internetowe w programach typu PhotoShop i Sketch</p>
      </div>
      <div class="col index--offer">
        <h3>SEO</h3>
        <p>Pozycjonujemy strony internetowe, tworzymy teksty zapleczowe oraz piszemy artykuły, tak aby Twoja witryna była lepiej widoczna w sieci</p>
      </div>
    </div>
  </div>
</section>
<section class="container section" aria-labelledby="scripts-title">
  <h2 class="display-3 mb-5 header-primary" id="scripts-title">Skrypty <span class="color-primary">stron www</span></h2>
  <p>W ofercie posiadamy kilka gotowych skryptów stron www. Dzięki nim w kilka minut możesz stworzyć własny portal z ogłoszeniami (w każdej branży, np. motoryzacji lub nieruchomości), bazę miejsc noclegowych, katalog firm, stronę typu demotywatory, serwis z obrazkami lub stronę do skracania linków. Najnowszy projekt, skrypt ogłoszeniowy Notice3 został oparty o znany framework Symfony 5. Sprzedaliśmy już ponad 400 kopii skryptów zadowolonym klientom. Cały czas dbamy o to, aby skrypty były aktualizowane o nowe funkcje, a wszystkie błędy naprawiane. Skrypty są zgodne ze współczesnymi standardami. <LinkTo @route="scripts" title="Skrypty stron www">Tutaj</LinkTo> możesz zobaczyć listę naszych skryptów. Zapraszamy także do <a href="{{env "shop_url"}}" title="Sklep ze skryptami online" target="_blank" rel="noopener">sklepu online</a>. Starsze projekty możesz znaleźć za darmo do pobrania na <a href="https://github.com/kamilwyremski" title="GitHub Kamil Wyremski" target="_blank" rel="nofollow noopener noreferrer">koncie GitHub</a>.</p>
</section>
<section class="background-secondary" aria-labelledby="pricing-title">
  <div class="container section">
    <h2 class="display-3 mb-5 header-primary" id="pricing-title">Co i ile <span class="color-primary">kosztuje?</span></h2>
    <p class="mb-2">Poniżej zamieszczamy orientacyjny cennik naszych usług. Zapraszamy do kontaktu - wszystkie ceny są do negocjacji. Podane ceny są <strong>cenami brutto</strong>. Wystawiamy fakturę VAT 23%</p>
    <div class="row">
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Skrypt strony internetowej</h3>
        <p class="price">123 - 615 zł</p>
        <ul>
          <li>Cena zależna od skryptu</li>
          <li>Zobacz ceny skryptów w <a href="{{env "shop_url"}}" title="Sklep ze skryptami online" target="_blank" rel="noopener">sklepie</a></li>
          <li>Instalacja wliczona w cenę</li>
          <li>Idealne żeby zaistnieć w sieci</li>
          <li>Sprawdzone projekty - setki sprzedanych kopii</li>
        </ul>
      </div>
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Strona firmowa / sklep internetowy</h3>
        <p class="price">1000 - 1500 zł</p>
        <ul>
          <li>Oparte o Wordpress lub Prestashop</li>
          <li>Wykorzystany gotowy motyw</li>
          <li>Funkcjonalność jak w demie motywu</li>
          <li>Łatwa możliwość samodzielnego rozszerzania strony o dostępne wtyczki</li>
        </ul>
      </div>
      <div class="col index--pricing">
        <h3 class="text-uppercase header">Indywidualny projekt</h3>
        <p class="price">od 4000 zł</p>
        <ul>
          <li>Indywidualnie stworzony Backend oraz Frontend w wybranej technologii</li>
          <li>Dedykowany panel administracyjny</li>
          <li>Zoptymalizowanie pod SEO</li>
          <li>Przygotowany na podstawie projektu graficznego</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container section" aria-labelledby="contact-title">
  <h2 class="display-3 mb-5 header-primary" id="contact-title">Kontakt <span class="color-primary">z nami</span></h2>
  <p>Zapraszamy do kontaktu z nami: <a href="mailto:{{env "email"}}" title="Napisz do nas">{{env "email"}}</a>. Z chęcią odpowiemy na Twoje pytania. Zachęcamy także do odwiedzenia <a href="https://www.facebook.com/ItWorksBetterNet" title="Fanpage It Works Better" target="_blank" rel="nofollow noopener noreferrer">naszego fanpage</a></p>
  <p>Nasz zespół znajdziesz także w innych miejscach w sieci, na <a href="https://blog.wyremski.pl/" title="Kamil Wyremski Blog" target="_blank" rel="noopener noreferrer">blogu</a> programisty, na <a href="https://www.facebook.com/wyremskipl/" title="Kamil Wyremski Facebook" target="_blank" rel="nofollow noopener noreferrer">Faceboku</a>, na <a href="https://linkedin.com/in/kamil-wyremski" title="Kamil Wyremski Facebook" target="_blank" rel="nofollow noopener noreferrer">LinkedIn</a>, na <a href="https://twitter.com/kamil_wyremski" title="Kamil Wyremski - profil na Twitter" target="_blank" rel="nofollow noopener noreferrer">Twitterze</a>, oczywiście na swoim <a href="https://wyremski.pl/" title="Kamil Wyremski" target="_blank" rel="nofollow noopener noreferrer">porfolio</a> i też na tym <a href="https://upati.pl/" title="Patrycja Wyremska" target="_blank" rel="nofollow noopener noreferrer">porfolio</a>.</p>
</section>