<div class="index--background">
  <div class="container">
    <h1>IT Works Better</h1>
    <p>Bo nie wystarczy żeby po prostu działało</p>
    <h3>Projektowanie stron internetowych i aplikacji webowych</h3>
  </div>
</div>