<div class="container section page-top">
  <h1 class="display-3 mb-5 header-primary">Projekty <span class="color-primary">aplikacji webowych</span></h1>
  <p>Nasze porfolio. Poniżej znajdziesz listę serwisów i aplikacji które stworzyliśmy lub przy których współpracowaliśmy. Wiele z nich jest cały czas aktualizowane o nowe funkcje. Nie zadowalamy się że projekt po prostu działa. Chcemy aby działał lepiej.</p>
</div>
<div class="background-secondary">
  <div class="container section">
    <div class="project d-flex">
      <div class="project--left">
        <a href="https://polishexpress.co.uk" title="PolishExpress" target="_blank" rel="nofollow noopener"><img src="/assets/images/projects/polishexpress.jpg" alt="PolishExpress" class="thumb"></a>
      </div>
      <div class="project--right">
        <h2 class="mb-2">PolishExpress</h2>
        <p class="mb-2">Współpracowaliśmy przy tworzeniu jednego z najpopularniejszych portali informacyjnych dla Polaków w Wielkiej Brytanii. Portal dociera do tysięcy użytkowników każdego dnia z wiadomościami z UK. Ze względu na duży ruch niezbędne były specjalne mechanizmy cachowania - dzięki temu strona naprawdę szybko się wczytuje.</p>
        <p class="mb-2"><strong>Użyte technologie</strong>: Symfony3</p>
        <p><a href="https://polishexpress.co.uk" title="PolishExpress" target="_blank" rel="nofollow noopener">polishexpress.co.uk</a></p>
      </div>
    </div>
    <div class="project d-flex">
      <div class="project--left">
        <a href="https://polishexpress.co.uk" title="PolishExpress" target="_blank" rel="nofollow noopener"><img src="/assets/images/projects/polishexpress.jpg" alt="PolishExpress" class="thumb"></a>
      </div>
      <div class="project--right">
        <h2 class="mb-2">PolishExpress</h2>
        <p class="mb-2">Współpracowaliśmy przy tworzeniu jednego z najpopularniejszych portali informacyjnych dla Polaków w Wielkiej Brytanii. Portal dociera do tysięcy użytkowników każdego dnia z wiadomościami z UK. Ze względu na duży ruch niezbędne były specjalne mechanizmy cachowania - dzięki temu strona naprawdę szybko się wczytuje.</p>
        <p class="mb-2"><strong>Użyte technologie</strong>: Symfony3</p>
        <p><a href="https://polishexpress.co.uk" title="PolishExpress" target="_blank" rel="nofollow noopener">polishexpress.co.uk</a></p>
      </div>
    </div>
    <div class="project d-flex">
      <div class="project--left">
        <a href="https://polishexpress.co.uk" title="PolishExpress" target="_blank" rel="nofollow noopener"><img src="/assets/images/projects/polishexpress.jpg" alt="PolishExpress" class="thumb"></a>
      </div>
      <div class="project--right">
        <h2 class="mb-2">PolishExpress</h2>
        <p class="mb-2">Współpracowaliśmy przy tworzeniu jednego z najpopularniejszych portali informacyjnych dla Polaków w Wielkiej Brytanii. Portal dociera do tysięcy użytkowników każdego dnia z wiadomościami z UK. Ze względu na duży ruch niezbędne były specjalne mechanizmy cachowania - dzięki temu strona naprawdę szybko się wczytuje.</p>
        <p class="mb-2"><strong>Użyte technologie</strong>: Symfony3</p>
        <p><a href="https://polishexpress.co.uk" title="PolishExpress" target="_blank" rel="nofollow noopener">polishexpress.co.uk</a></p>
      </div>
    </div>
  </div>
</div>